@use 'globals';

.about {
	contain: content;
	display: flex;
	align-items: center; justify-content: center;
	min-height: calc(100vh - globals.$navigation-height); padding: 6rem 1.5rem 6rem 1.5rem;
	overflow: hidden;

	&__logo {
		max-width: 80rem; width: 100%;
		user-select: none; pointer-events: none;

		&__img {
			width: 100%;
		}
	}
}