@use 'globals';

.events {
	$max-width: 800px;

	display: flex;
	flex-direction: column; align-items: center; justify-content: center;
	min-height: 100vh; padding: globals.$navigation-height 2rem 0 2rem;

	&__heading {
		color: white; font-size: 7rem; line-height: 1.3; font-weight: bold;
	}

	&__image {
		max-width: $max-width; margin: 3rem 0 2rem 0;
		user-select: none; pointer-events: none;

		&__img {
			width: 100%;
		}
	}

	&__list {
		display: table;
		max-width: $max-width; width: 100%;

		&__event {
			display: table-row;
			color: white; font-size: 2.2rem; line-height: 1.3;

			&--over {
				opacity: .3;
			}

			> * {
				display: table-cell;
				padding: 2.5rem 0;
				border-bottom: 3px dotted white;
			}

			&__date {
				padding-left: 1rem;
			}

			&__place {
				padding-left: 3rem; padding-right: 2rem;
			}

			&__name,
			&__link {
				padding-left: 1rem; padding-right: 1rem;
				color: white; font-weight: bold;
			}

			&__link {
				text-decoration: underline;
				text-underline-offset: .2em;
				text-decoration-thickness: .1em;

				&:hover {
					text-decoration: none;
				}
			}
		}

		@media (max-width: 700px) {
			display: block;
			max-width: 30rem; width: 100%;

			&__event {
				$distance: 3rem;
				$border-width: 3px;

				display: block;
				margin: $distance 0; padding-bottom: $distance;
				border: $border-width dotted white;
				border-width: 0 0 $border-width 0;
				text-align: center;

				&:first-child {
					padding-top: $distance;
					border-width: $border-width 0;
				}

				> * {
					display: block;
					margin: .6rem 0; padding: 0;
					border: none;
				}

				&__link {
					display: inline-block;
				}
			}
		}
	}
}