@use 'globals';

.home {
	contain: content;
	display: flex; position: relative;
	align-items: center; justify-content: center;
	min-height: 100vh; padding: globals.$navigation-height 1rem 0 1rem;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute; top: 42%; left: 50%; z-index: 1;
		max-width: 130%; width: 80rem; height: 65rem;
		background-image: radial-gradient(
			at 50% 50%,
			rgba(170, 180, 240, 0.3),
			rgba(170, 180, 240, 0.12) 33%,
			transparent 62%
		);
		transform: translate(-50%,-50%);
		animation: fade-in 1.6s;

		@supports (aspect-ratio: 80/65) {
			height: auto;
			aspect-ratio: 80/65;
		}
	}

	&__box {
		contain: content;
		display: flex; position: relative; z-index: 2;
		flex-direction: column; align-items: center;
		max-width: 56rem; padding: 4rem 0 6rem 0;
		overflow: hidden;
		animation: fade-in-from-top .7s .1s, hidden .1s;

		&__logo {
			width: 100%;
			user-select: none; pointer-events: none;
		}

		&__heading {
			margin: -2.5rem 0 0 0;
			color: white; font-size: 7rem; line-height: 1; font-weight: bold; text-transform: lowercase;

			@media (max-width: 450px) {
				margin-top: 1rem;
			}
		}

		&__tagline {
			max-width: 50rem; margin: 2rem 0;
			color: white; font-size: 2.2rem; line-height: 1.3; text-align: center; text-wrap: balance;
		}

		&__social-media {
			text-align: center;
			
			&__link {
				$margin: .3rem;

				contain: content;
				display: inline-block;
				margin: $margin;
				overflow: hidden;
				font-size: 3rem; line-height: 0;
				user-select: none;

				&--fullwidth {
					display: block;
					width: 100%; margin: ($margin * 2) 0 $margin 0;
					overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
					font-size: 2rem; line-height: 1.3; font-weight: bold; text-decoration: none;

					svg {
						margin-right: .5em;
					}
				}

				&--no-left-margin {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				&:hover > &__inner {
					background-color: transparent;
					color: white;
				}

				&:active > &__inner {
					transform: scale(.92);
				}

				&__inner {
					display: flex;
					align-items: center; justify-content: center;
					padding: 1rem;
					background-color: white;
					border: 2px solid white; border-radius: .4rem;
					color: black;
					transition: background-color .2s, color .2s, transform .1s;

					> svg {
						width: 1em; height: 1em;

						> path {
							fill: currentColor;
						}
					}
				}
			}
		}
	}

	@media (max-width: 600px) {
		padding-left: 1.5rem; padding-right: 1.5rem;
	}
}