@use 'globals';

.navigation {
	display: flex; position: fixed; top: 0; left: 0; z-index: 99;
	justify-content: center;
	width: 100%; height: globals.$navigation-height;
	background-color: black;
	border-bottom: 1px solid white;

	&__button {
		contain: content;
		display: inline-block;
		height: 100%; margin: 0 .4rem; padding: 0 1.2rem;
		overflow: hidden;
		color: white; font-size: 2.5rem; line-height: 0; font-weight: bold; text-align: left;
		user-select: none;

		&:not([disabled]):hover {
			text-decoration: underline;
			text-decoration-thickness: .1em;
			text-underline-offset: .2em;
		}

		&:not([disabled]):active > &__inner {
			transform: scale(.92);
		}

		&__inner {
			display: flex;
			align-items: center;
			height: 100%;
			line-height: 1;
			transition: transform .1s;
		}
	}
}