@use 'sass:math';
@use '../generic/globals';

.events {
	$max-width: 60rem;

	display: flex;
	flex-direction: column; align-items: center; justify-content: center;
	min-height: 100vh; padding: (globals.$navigation-height + 2.5rem) 2rem 2.5rem 2rem;

	&__heading {
		margin: 0 0 1.5rem 0;
		color: white; font-size: 5.5rem; line-height: 1.3; font-weight: bold;
	}

	&__image {
		max-width: $max-width; margin-top: 1.5rem;
		user-select: none; pointer-events: none;

		&__img {
			width: 100%;
			border-radius: .4rem;
		}
	}

	&__list {
		max-width: $max-width; width: 100%;
		overflow-x: auto;

		&__inner {
			display: table;
			width: 100%;
			border-collapse: collapse;

			&__event {
				$inner-margin: 2.4rem;

				display: table-row;
				border-bottom: 2px solid rgba(255, 255, 255, .5);
				color: white; font-size: 2.2rem; line-height: 1.3;

				&--is-over {
					opacity: .3;
				}

				&:last-child {
					border-bottom: none;
				}

				> * {
					display: table-cell;
					width: 50%;
					padding-top: 2.2rem; padding-bottom: 2.2rem;
				}

				&__info {
					padding-left: .4rem; padding-right: math.div($inner-margin, 2);

					&__place {
						color: rgba(255, 255, 255, .65);
					}
				}

				&__name {
					padding-left: math.div($inner-margin, 2); padding-right: .4rem;
					color: white; font-weight: bold;
					
					> a {
						// overwrite link colors
						color: inherit;
						text-decoration: underline;
						text-underline-offset: .2em;
						text-decoration-thickness: .1em;

						&:hover {
							text-decoration: none;
						}
					}
				}

				@media (max-width: 600px) {
					font-size: 2rem;
				}
			}
		}
	}
}